# Template for module settings - allow ansible or another script installer to inject module specific settings into a master django project

#RDF triplestore settings


RDFSERVER="{{ rdf_server }}"


RDFSTORE_RDF4J = {
    'default' : {
        'server' : "".join((RDFSERVER,"/rdf4j-server/repositories/{{ default_rdf_repo }}" )),
        'server_api' : "RDF4JREST",
        # model and slug are special - slug will revert to id if not present
        'target' : "/statements?context=<{model}>",
        # this should be pulled from settings
        'sparql' : "".join((RDFSERVER,"/rdf4j-server/repositories/{{ default_rdf_repo }}" ))
        },
    'scheme' : {
        'target' : "/statements?context=<{uri}>",
#        'headers' : { 'Slug' : "{slug}" }
        },
    'concept' : {
        'target' : "/statements?context=<{scheme__uri}/{term}>",
#        'headers' : { 'Slug' : "{term}" }
        }
}

RDFSTORE = RDFSTORE_RDF4J
